/*** reset ***/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, small, strong {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/*** general layout ***/
html {
	overflow-y: scroll;
}

body {
	max-width: 1600px;
	margin: 0 auto;
	padding: 40px;
	overflow: hidden;
}

/* this positions content in the link containers */
.tile div {
	position:absolute;
}

/* headers have to be inline */
h2, h3 {
	display:inline;
	clear:both;
}

/* tell images to fit to wrapper */
img {
    max-width: 100%;
}


.links {
    position:absolute;
    top:0;
    right:0;
    width:68%;
}

#content {}

/*** Media Queries ***/
/* Two Column */
.tile {
	float:left;
	position: relative;
	top: 0;
	overflow: hidden;
	width: 47%;
	margin: 20px 3% 0 0;
	padding-bottom: 32%;
}

@media screen and (min-width:760px) {
    #links {
        width:auto;
        top:20px;
        right:20px;
    }
}
@media screen and (min-width:1200px) {
    #links {
        top:20px;
        right:60px;
    }
}

/* Three Column */
@media screen and (min-width:1000px) {
	.tile {
		width: 31%;
		margin: 20px 2% 0 0;
		padding-bottom: 21%;
	}
}

/* Four Column */
@media screen and (min-width:1400px) {
	.tile {
		width: 23%;
		margin: 20px 2% 0 0;
		padding-bottom: 16%;
	}
}

/* Font Size Control Media Queries */
h1, h2, h3 { font-size: 2em; }
p, a { font-size: 1em; line-height: 1.2; }

@media screen and (min-width:700px) {
	h1, h2, h3 { font-size: 3em; }
	p, a { font-size: 1.25em; }
    #links a { font-size:1em;}
}
@media screen and (min-width:900px) {
    #links a { font-size:1.4em;}
}
@media screen and (min-width:1000px) {
	h1, h2, h3 { font-size: 3.25em; }
	p, a { font-size: 1.25em; }
    #links a { font-size:1.4em;}
}
@media screen and (min-width:1200px) {
    #links a { font-size:1.6em;}
}

/*** general ***/
.header {
	display:block;
	position:relative;
    width:100%;
}

h1 {
	padding:0 0 0 4%;
	float:left;
}

h1 a, h1 a:link, h1 a:visited, h1 a:active {
    color:#000000;
}

#links a {
    padding-right: 10px;
    float:right;
    color:#9C9C9C;
    font-weight:lighter;
}

a, a:link, a:visited, a:active {
    color:#666;
    text-decoration:none;
}

a:hover {
	color:#111;
    text-decoration:none;
}

.cf:before, .cf:after {
	content:" ";
    display:table;
}
.cf:after {
    clear:both;
}